.c-hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;

	&__title {
		font-family: "Knockout 70 A", "Knockout 70 B";
    font-style: normal;
    font-weight: 400;
		color: white;
		font-size: 85px;
		text-transform: uppercase;
		letter-spacing: 1.82px;
		margin: 0;
		padding: 0;
		line-height: 1;
		text-align: center;
	}

	&__illustration {
		max-width: 371px;
		margin: 40px auto 0;
	}

	&__cupInner {
		animation: pour 10s ease-out forwards;
		transform: translateY(100%);
	}
}

.c-intro {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12vh 0;
	
	&__description {
		text-align: center;
		font-size: 1.25rem;
		max-width: 56rem;
	}
}

.cup {  
  height: 210px;
	width: 310px;
	margin-top: 2rem;
  border: 0.75rem solid #fff;
  padding: 0;
  position: relative;
  display: flex;
	align-items: flex-end;
	transform: translateX(-30px);
}

.cup::before {
  content: "";
  display: block;
  background: #fff;
  height: 0;
  width: 100%;
  animation: coffee-drip 10s linear forwards;
}

.cup::after {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 100%;
  height: 150px;
  width: 60px;
  border: 0.75rem solid #fff;
  box-sizing: border-box;
  transform: translateY(25%);
}

.cup__text {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 105px);
  width: 210px;
  height: 200px;
}

@keyframes coffee-drip {
  100% {
    height: 100%;
  }
}