.c-hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 8vh 0;

	@media (min-width: 600px) {
		min-height: 80vh;
		padding: 0;
	}

	@media (min-width: 1000px) {
		min-height: 100vh;
	}

	&__title {
		font-family: "Knockout 70 A", "Knockout 70 B";
		font-style: normal;
		font-size: 60px;
    font-weight: 400;
		color: #FFFFFF;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1.82px;
		margin: 0;
		padding: 0;
		line-height: 1;
		text-align: center;

		@media (min-width: 700px) {
			font-size: 85px;
		}

		@media (min-width:1000px) {
			font-size: 114px;
		}
	}

	&__illustration {
    height: auto;
		margin-top: 30px;
		width: 280px;

		@media (min-width: 700px) {
			width: 400px;
		}

		@media (min-width: 1000px) {
			margin-top: 40px;
		}
	}
}

.cupLiquid {
	transform: translateY(100%);
	animation: titlePour 8s linear forwards;
}

@keyframes titlePour {
	100% {
		transform: translateY(0);
	}
}

.c-intro {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8vh 0;
	
	&__description {
		text-align: center;
		font-size: 1rem;
		max-width: 75%;

		@media (min-width: 720px) {
			font-size: 1.25rem;
			max-width: 560px;
			line-height: 1.5;
		}
	}
}