.section2 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	padding-top: 12rem;
	padding-bottom: 7.5rem;
	align-items: start;
	overflow: hidden;
	position: relative;
	
	&__text {
		grid-column: 6 / 10;
		font-size: 17px;
		line-height: 1.6;
		margin-top: 24px;
	}

	&__text-box {
		padding-top: 6rem;
	}

	&__illustration {
		grid-column: 4;
		padding-top: 10rem;
	}

	&__wave {
		position: absolute;
		top: 0;
		left: 0;
	}
}