.section4 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 5rem;
	padding-top: 12rem;
	padding-bottom: 14rem;
	align-items: start;
	overflow: hidden;
	position: relative;

	&__heading {
		font-size: 48px;
		line-height: 1.2;
		color: #19224F;
		font-family: jaf-lapture-display, serif;
    font-weight: 700;
    font-style: normal;
		margin-bottom: 24px;
		margin-top: 1rem;
	}

	&__subtitle {
		font-style: italic;
	}

	&__text {
		font-size: 17px;
		line-height: 1.6;
		color: #19224F;

		& + & {
			margin-top: 24px;
		}
	}

	&__text-box {
		padding-top: 4rem;
		grid-column: 5 / 10;
	}

	&__illustration {
		grid-column: 4;
		padding-top: 4rem;
		overflow: visible;
	}

	&__wave {
		position: absolute;
		top: 0;
		right: 0;
		overflow: visible;
		z-index: 100;
	}

	&__wave-bottom {
		position: absolute;
		bottom: -1px;
		right: 0;
		overflow: visible;
		z-index: 100;
	}
}