
.c-section1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
	transition: opacity 3s ease-in-out;
	grid-gap: 0;
	overflow: hidden;
	position: relative;

	&__anim {
		&--drips {
			padding-left: 13rem;
		}
	}

	&__container--left {
		grid-column: 2 / 4;
		justify-self: start;
		padding: 10rem 0;
	}

	&__container--right {
		grid-column: 3 / -1;
		justify-self: start;
		padding: 10rem 0;
	}

	&__container--full {
    grid-column: 1 / -1;
    padding: 10rem 0;
	}

	&__container--center {
		grid-column: 2 / 5;
		padding: 10rem 0;
	}

	&__text {
		font-size: 17px;
		line-height: 1.6;
		max-width: 400px;
		margin-top: 24px;

		&--wide {
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}