.section6 {
	background: #FFF;
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1440' height='694' viewBox='0 0 1440 694'%3E %3Cg fill='none' fill-rule='evenodd' stroke-linecap='square'%3E %3Cg stroke='%23000'%3E %3Cg transform='translate(3.000000, -1.000000)'%3E %3Cpath stroke-width='6' d='M720.5,1 L720.5,692.249964'/%3E %3Cpath stroke-width='6' d='M192.5,4 L192.5,695.249964'/%3E %3Cpath stroke-width='6' d='M1214.5,4 L1214.5,695.249964'/%3E %3Cpath stroke-width='5' d='M0,152.5 L1440,152.5'/%3E %3Cpath stroke-width='5' d='M1,559.5 L1441,559.5'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");

	&__sectionHeading {
		font-family: "Macula Line";
		font-style: normal;
		font-weight: normal;		
		color: #fff;
		background: #000;
		padding: 3rem;
		font-size: 75px;
		display: inline;
	}
}