.section6 {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 0 auto;
	color: #000000;

	&__text-box {
		padding-top: 2rem;
		text-align: center;
		max-width: 600px;
		margin: 0 auto;
	}

	&__wave-bottom {
		position: absolute;
		bottom: -1px;
		right: 0;
		overflow: visible;
		z-index: 100;
	}

	// &::before {
	// 	height: 38vh;
	// 	width: 100%;
	// 	content: "";
	// 	position: absolute;
	// 	z-index: -1;
	// 	display: block;
	// 	top: 0;
	// 	left: 0;
	// 	border-bottom: 5px solid #000000;
	// }

	// &::after {
	// 	height: 70vh;
	// 	width: 100%;
	// 	content: "";
	// 	position: absolute;
	// 	z-index: -1;
	// 	display: block;
	// 	top: 0;
	// 	left: 0;
	// 	border-bottom: 5px solid #000000;
	// }

	&__sectionHeading {
		font-family: "Macula Line";
		font-style: normal;
		font-weight: normal;		
		color: #ffffff;
		background: #000;
		padding: 1rem 1.5rem;
		font-size: 90px;
		display: inline;
		position: relative;

		// &::before {
		// 	height: 20vh;
		// 	width: 100%;
		// 	content: "";
		// 	position: absolute;
		// 	z-index: -1;
		// 	display: block;
		// 	top: -10rem;
		// 	left: 0;
		// 	border-bottom: 5px solid #000000;
		// 	}

		// &::after {
	  // height: 8.75rem;
		// width: 100%;
		// content: "";
		// position: absolute;
		// z-index: -1;
		// display: block;
		// top: 0;
		// left: 0;
		// border-bottom: 5px solid #000000;
		// }
	}

	&__wave {
		position: absolute;
		top: 0;
		right: 0;
		overflow: visible;
		z-index: 100;
	}
}