.c-interstitial {
	display: flex;
	flex-direction: column;
	padding: 200px 10vh;
	text-align: center;
	justify-content: center;
	align-items: center;

	@media (min-width: 1000px) {
		min-height: 45vh;
	}

	&__heading {
		font-family: "Knockout 68 A", "Knockout 68 B";
		font-size: 60px;
		font-style: normal;
		font-weight: 400;
		text-transform: uppercase;
		margin: 0;

		@media (min-width: 720px) {
			font-size: 114px;
		}
	}

	&__text {
		font-size: 18px;
		max-width: 600px;
		margin-top: 1rem;
		font-family: "Operator Mono SSm A", "Operator Mono SSm B";
    font-weight: 400;

		@media (min-width: 720px) {
			margin-top: 1.5rem;
			font-size: 20px;
		}
  }
}


