.section3 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	padding-top: 18rem;
	padding-bottom: 7.5rem;
	align-items: start;
	overflow: hidden;
	position: relative;
	
	&__text-box {
		grid-column: 6 / 10;
	}

	&__illustration {
		grid-column: 4;
	}

	&__text {
		grid-column: 6 / 10;
		font-size: 17px;
		line-height: 1.6;
		margin-top: 24px;
	}

	&__wave {
		position: absolute;
		top: 0;
		transform: translateY(-80px);
	}
}